<%- await include(`${Deno.cwd()}/views/common/header.ejs`, {
  pathname,
  title,
}) %>
<div class="wrapper">
  <h1 class="title">Hello Tencent CloudBase + Deno + Oak !</h1>
  <section class="content">
    <p>Welcome to Hello Tencent CloudBase + Deno + Oak !</p>
  </section>
  <section class="content">
    <h3 class="caption">本示例 Github 源码地址</h3>
    <p><a href="https://github.com/TencentCloudBase/cloudbase-templates/tree/master/deno">https://github.com/TencentCloudBase/cloudbase-templates/tree/master/deno</a></p>
  </section>
  <section class="content">
    <h3 class="caption">开发部署工具: CloudBase Framework<a href="https://github.com/TencentCloudBase/cloudbase-framework"><img alt="CloudBase Framework"src="https://img.shields.io/github/stars/TencentCloudBase/cloudbase-framework?style=social"/></a></h3>
    <p>
      <a href="https://github.com/TencentCloudBase/cloudbase-framework" title="CloudBase Framework: 云开发前后端一体化部署工具">
        <img style="max-width: 420px; width: 100%;" src="https://main.qcloudimg.com/raw/615038b16047fa677646011fae909102.png">
      </a>
    </p>
  </section>
  <section class="content">
    <h3 class="caption">示例:</h3>
    <ul class="list" id="demo-list">
      <li><a href="<%= pathname %>/info"><%= pathname %>/info</a> 读取远程文件</li>
      <li><a href="<%= pathname %>/error"><%= pathname %>/error</a> 报错信息包装呈现</li>
      <li><a href="<%= pathname %>/api/info"><%= pathname %>/api/info</a> 普通 json 接口</li>
      <li><a href="<%= pathname %>/api/error"><%= pathname %>/api/error</a> 接口报错封装</li>
    </ul>
  </section>
</div>
<%- await include(`${Deno.cwd()}/views/common/footer.ejs`) %>
